body {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

.above {
  padding: 3px 10px;
  height: 30px;
  background-color: #0d724b;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.above .icon-wrapper {
  display: inline-block;
  margin-right: 10px;
}

.above i {
  font-size: 17px;
  padding: 5px;
  cursor: pointer;
}

.above .text-wrapper {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 8s linear infinite;
  max-width: calc(100% - 180px);
}

.above h6 {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  word-spacing: 3px;
  display: inline;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  150% {
    transform: translateX(-100%);
  }
}

.center {
  text-align: center;
  background-color: #1da470;
  color: #fff;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.center h2 {
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}
header {
  margin-top: 110px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: 1px solid #808080ed;
  border-top: 1px solid #808080ed;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  font-weight: 500;
  font-size: 16px;
  height: 40px;
  margin: 4vh 6vh;
  line-height: 40px;
  cursor: pointer;
  letter-spacing: 0.25px;
  text-decoration: none !important;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
nav .icon {
  margin-left: 150px;
  cursor: pointer;
}
nav i {
  margin: 5px 10px;
  margin-top: 38px;
}

.home {
  width: 100%;
}

.image-container {
  position: relative;
}

.home img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.78;
  cursor: pointer;
}

.home .right {
  position: absolute;
  bottom: 250px;
  right: 90px;
  width: 50%;
}
.home .right h2 {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
}
.home .right p {
  font-size: 30px;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
}
.home .right button {
  background-color: #0d724b;
  color: #fff;
  height: 50px;
  width: 150px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-left: 250px;
}
.home .right button:hover {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #000;
}
.slider .slick-next {
  right: 100px;
  z-index: 1;
}
.slider .slick-prev {
  left: 80px;
  z-index: 1;
}
.slider .slick-prev:before,
.slider .slick-next:before {
  color: #0d724b;
  font-size: 40px;
}
.slider .slick-dots li button {
  padding: 50px;
}
.slider .slick-dots li button:before {
  font-size: 18px;
  color: #0d724b;
  position: absolute;
}
.collection {
  padding: 20px;
  display: flex;
  background-color: #d7f8d7;
}

.collection h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
}

.collection .row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.collection .col-lg-3 {
  margin: 10px;
  text-align: center;
  flex: 1 1 22%;
  max-width: 22%;
  box-sizing: border-box;
}

.collection .col-lg-3 img {
  width: 100%;
  height: 50vh;
  border-radius: 9px;
  display: block;
  object-fit: cover;
  cursor: pointer;
}

.collection .col-lg-3 button {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  background-color: #0d724b;
  border: none;
}
.collection .col-lg-3 button:hover {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #000;
}
.sliderr .slick-prev:before,
.sliderr .slick-next:before {
  color: #0d724b;
  font-size: 40px;
}
.sliderr .slick-prev {
  margin-left: -10px;
  z-index: 1;
}

.sliderr .slick-next {
  right: -15px;
}
.seller {
  text-align: center;
  padding: 20px 0;
}

.seller h2 {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 40px;
}

.seller .container > button {
  margin-bottom: 70px;
  background-color: #0d724b;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  border-radius: 50px;
}
.seller .container > button:hover {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #000;
}
.seller .elements {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.seller .col-lg-3 {
  position: relative;
  padding: 10px;
  text-align: center;
}

.seller .col-lg-3 i {
  position: absolute;
  top: -25px;
  right: 10px;
  color: #0d724b;
  border: 2px solid #0d724b;
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
  font-size: 25px;
}

.seller .col-lg-3 button:first-of-type {
  position: absolute;
  top: -25px;
  left: 10px;
  background-color: #0d724b;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.seller .col-lg-3 img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  margin: 10px 0;
  cursor: pointer;
}

.seller .col-lg-3 p {
  margin: 10px 0;
  font-size: 22px;
  text-transform: capitalize;
  color: #604a4add;
  width: 22vw;
}

.seller .col-lg-3 h2 {
  margin: 10px 0;

  font-size: 18px;
  font-weight: 600;
}
.seller .col-lg-3 h2 span {
  text-decoration: line-through;
  color: gray;
  font-weight: 500;
  font-size: 15px;
}
.seller .col-lg-3 button:last-of-type {
  margin-top: 10px;
  text-transform: capitalize;
  background-color: #0d724b;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  width: 170px;
  padding: 10px;
  cursor: pointer;
}
.seller .col-lg-3 button:last-of-type:hover {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #000;
}
.arrivals {
  text-align: center;
  padding: 20px 0;
  background-color: #d7f8d7;
}

.arrivals h2 {
  margin-bottom: 40px;
  text-transform: capitalize;
  font-size: 40px;
}

.arrivals .elem {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.arrivals .col-lg-3 {
  position: relative;
  padding: 30px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 20px;
}

.arrivals .col-lg-3 i {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #0d724b;
  border: 2px solid #0d724b;
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
  font-size: 25px;
}

.arrivals .col-lg-3 button:first-of-type {
  position: absolute;
  top: 15px;
  left: 10px;
  background-color: #0d724b;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.arrivals .col-lg-3 img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  margin: 40px 0;
  cursor: pointer;
}

.arrivals .col-lg-3 p {
  margin: 10px 0;
  font-size: 22px;
  text-transform: capitalize;
  color: #604a4add;
  width: 20vw;
  margin-left: -25px;
}

.arrivals .col-lg-3 h2 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}
.arrivals .col-lg-3 h2 span {
  text-decoration: line-through;
  color: gray;
  font-weight: 500;
  font-size: 15px;
}
.arrivals .col-lg-3 button:last-of-type {
  margin-top: 10px;
  text-transform: capitalize;
  background-color: #0d724b;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  width: 170px;
  padding: 10px;
  cursor: pointer;
}
.arrivals .col-lg-3 button:last-of-type:hover {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #000;
}
.elem .slick-prev:before,
.elem .slick-next:before {
  color: #0d724b;
  font-size: 40px;
}
.elem .slick-prev {
  margin-left: -20px;
  z-index: 1;
}

.elem .slick-next {
  right: 0px;
}

.mission {
  width: 100%;
  height: auto;
}
.mission h2 {
  margin-top: 80px;
  font-size: 45px;
  font-weight: 400;
  text-transform: capitalize;
}
.mission h3 {
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize;
}
.mission p {
  margin-top: 20px;
  line-height: 35px;
  color: #383636e6;
}
.mission .tick {
  color: #757373;
  margin-top: 30px;
}
.mission .tick-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.mission .tick-item {
  display: flex;
  align-items: center;
  width: 45%;
}
.mission .tick-item p {
  margin: 0 0 0 10px;
  text-transform: capitalize;
}
.mission img {
  margin-left: 79px;
  height: 400px;
}

.advisor {
  text-align: center;
  padding: 20px 0;
  background-color: #d7f8d7;
}
.advisor h2 {
  margin-bottom: 40px;
  text-transform: capitalize;
  font-size: 40px;
}

.advisor .advise {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.advisor .col-lg-3 {
  position: relative;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  margin-right: 20px;
}

.advisor .col-lg-3 img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  cursor: pointer;
}

.advisor .col-lg-3 h5 {
  margin: 10px 0;
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  color: #604a4add;
  width: 20vw;
  margin-left: -25px;
}

.advisor .col-lg-3 p {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
  font-weight: 400;
}
.advisor .col-lg-3 button {
  margin-top: 10px;
  text-transform: capitalize;
  background-color: #0d724b;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  width: 170px;
  padding: 10px;
  cursor: pointer;
}
.advisor .col-lg-3 button:hover {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #000;
}
.advise .slick-prev:before,
.advise .slick-next:before {
  color: #0d724b;
  font-size: 40px;
}
.advise .slick-prev {
  margin-left: -15px;
  z-index: 1;
}

.advise .slick-next {
  right: 5px;
}
.testimonials {
  text-align: center;
  padding: 20px 0;
  background-color: #d7f8d7;
  margin-top: 50px;
}
.testimonials .view {
  text-transform: uppercase;
  background-color: #0d724b;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  width: 170px;
  padding: 10px;
  margin-top: -50px;
  cursor: pointer;
}
.testimonials .view:hover {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #000;
}
.testimonials h2 {
  margin-bottom: 40px;
  text-transform: capitalize;
  font-size: 40px;
}

.testimonials .test {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonials .col-lg-3 {
  position: relative;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  margin-right: 20px;
}

.testimonials .col-lg-3 img {
  width: 100%;
  height: 55vh;
  object-fit: cover;
  background-size: cover;
  cursor: pointer;
}
.test .slick-prev:before,
.test .slick-next:before {
  color: #0d724b;
  font-size: 40px;
}
.test .slick-prev {
  margin-left: -20px;
}

.test .slick-next {
  right: 4px;
}
.insta .col-lg-3 img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  background-size: cover;
  margin: 25px 10px;
  cursor: pointer;
}
.insta h2 {
  margin-bottom: 40px;
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}

.story {
  width: 100%;
  height: auto;
  background-color: #d7f8d7;
  text-align: center;
}
.story h2 {
  margin-bottom: 40px;
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}
.story p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  padding: 15px 30px;
  color: #757373;
  line-height: 30px;
}
.story button {
  text-transform: uppercase;
  background-color: #0d724b;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  width: 170px;
  padding: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}
.story button:hover {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #000;
}
.clients {
  text-align: center;
  padding: 40px 20px;
  width: 100%;
  height: auto;
}

.clients h2 {
  text-transform: capitalize;
  font-size: 40px;
}

.clients .c-slider {
  display: flex;
  justify-content: center;
}
.clients .col-lg-3 {
  padding: 10px;
  position: relative;
  cursor: grab;
}
.clients .col-lg-3 img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 68px;
}
.clients .col-lg-3 h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  color: #870404b9;
  margin-top: 15px;
}
.clients .col-lg-3 h4 {
  font-size: 20px;
  color: #757373;
  text-transform: capitalize;
}
.clients .col-lg-3 p {
  color: #757373;
  line-height: 30px;
}
.clients .col-lg-3 i {
  color: #870404b9;
}
.c-slider .slick-prev:before,
.c-slider .slick-next:before {
  color: #0d724b;
  font-size: 40px;
}
.c-slider .slick-prev,
.c-slider .slick-next {
  z-index: 1;
}

.icons {
  border-top: 2px solid #919191;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}

.icons .icon-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons .icon-item img {
  width: 150px;
  height: 150px;
  display: block;
  margin-bottom: 10px;
}

.icons .icon-item h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #0d724b;
  color: #fff;
  position: relative;
  margin-top: 30px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .shop {
  height: 230px;
  width: 350px;
  background-color: #1da470;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  flex-shrink: 0;
  cursor: pointer;
}

.footer .row {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 370px);
  padding: 10px 20px;
}

.footer .first {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.footer .first .col-lg-3 {
  flex: 1;
  margin-left: 20px;
}

.footer .first .cate,
.footer .first .info,
.footer .first .news {
  margin-top: 0;
}

.footer .first h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
}

.footer .first h5 {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 25px;
}
.footer .first h5:hover {
  color: #dddddd;
  cursor: pointer;
}

.footer .first input {
  border-radius: 50px;
  height: 40px;
  width: 280px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  text-transform: capitalize;
}
.footer .first input:hover {
  cursor: pointer;
}

.footer .news .fa-telegram {
  margin-left: -230px;
  color: #757373;
}
.news input[type="text"]:focus + .fa-telegram,
.news input[type="text"]:not(:placeholder-shown) + .fa-telegram {
  opacity: 0;
}
.footer .icon i {
  padding: 5px;
  font-size: 20px;
}
.footer .icon i:hover {
  cursor: pointer;
  color: #dddddd;
}

.footer .last {
  margin-bottom: 30px;
  width: 50%;
  margin-left: -400px;
}

.footer .last h5 {
  font-size: 18px;
  text-transform: capitalize;
  line-height: 25px;
  display: flex;
}

.footer .last i {
  font-size: 14px;
  margin-right: 20px;
  line-height: 25px;
}

.footer .below {
  border-top: 2px solid #fff;
  width: 100%;
  text-align: center;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .below h6 {
  border-radius: 5px;
  background-color: #1da470;
  width: 290px;
}
.go-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: 2px solid #00000083;
  outline: none;
  background-color: #ffff;
  color: #00000083;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.go-to-top-btn:hover {
  color: #000;
  border-color: #000;
}
/* Media Queries */

/* above part */
@media (max-width: 320px) {
  .center {
    margin-top: 30px;
    font-size: 12px;
    padding: 5px 8px;
  }
  .center {
    top: 25%;
    font-size: 12px;
    padding: 5px 8px;
  }
}

@media (max-width: 480px) {
  .above {
    padding: 2px 5px;
    height: auto;
    justify-content: center;
  }

  .above i {
    font-size: 14px;
  }

  .above h6 {
    font-size: 12px;
    margin-left: 5px;
  }

  .center {
    top: 23%;
    font-size: 12px;
    padding: 5px 8px;
  }

  header {
    margin-top: 390px;
    border: none;
  }

  nav ul {
    align-items: center;
    margin-top: -254px;
  }

  nav li {
    font-size: 14px;
    margin: 10px 0;
    padding: 10px;
  }

  nav .icon {
    margin-left: 10px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .above {
    padding: 2px 5px;
    height: auto;
    justify-content: center;
  }

  .above i {
    font-size: 14px;
  }

  .above h6 {
    font-size: 12px;
    margin-left: 5px;
  }

  .center {
    top: 15%;
    padding: 6px 10px;
  }
  .center h2 {
    font-size: 25px;
  }

  header {
    margin-top: 140px;
    border: none;
  }

  nav li {
    font-size: 16px;
    margin: 12px 0;
    padding: 10px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .above {
    padding: 2px 5px;
    height: auto;
    justify-content: center;
  }

  .above i {
    font-size: 17px;
  }

  .above h6 {
    font-size: 15px;
    margin-left: 10px;
  }

  .center {
    top: 19%;
    font-size: 15px;
    padding: 7px 10px;
  }

  header {
    margin-top: 190px;
    border: none;
  }
}
@media (min-width: 991px) and (max-width: 1024px) {
  .above {
    padding: 2px 5px;
    height: auto;
    justify-content: center;
  }

  .above i {
    font-size: 17px;
  }

  .above h6 {
    font-size: 15px;
    margin-left: 10px;
  }

  .center {
    top: 20%;
    font-size: 15px;
    padding: 7px 10px;
  }

  header {
    margin-top: 250px;
    margin-bottom: 50px;
    border: none;
  }
}

/* Home Page */
@media (max-width: 480px) {
  .home img {
    height: auto;
    margin-top: 20px;
    object-fit: cover;
  }

  .home .right {
    bottom: 62px;
    right: 27px;
    max-width: 150px;
    padding: 5px;
  }

  .home .right h2 {
    font-size: 14px;
  }

  .home .right p {
    font-size: 10px;
  }

  .home .right button {
    height: 27px;
    width: 65px;
    font-size: 9px;
    margin-left: 30px;
  }

  .slider .slick-prev:before,
  .slider .slick-next:before {
    font-size: 18px;
  }
  .slider .slick-next {
    right: 13px;
  }
  .slider .slick-prev {
    left: 180px;
  }
  .slider .slick-dots li button:before {
    font-size: 10px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .home {
    margin-top: 80px;
  }

  .home img {
    height: auto;
    object-fit: cover;
  }

  .home .right {
    bottom: 96px;
    right: 136px;
    max-width: 200px;
    padding: 8px;
  }

  .home .right h2 {
    font-size: 16px;
  }

  .home .right p {
    font-size: 12px;
  }

  .home .right button {
    height: 32px;
    width: 107px;
    font-size: 13px;
    margin-left: 30px;
  }

  .slider .slick-prev:before,
  .slider .slick-next:before {
    top: 100px;
    font-size: 24px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .home {
    margin-top: 150px;
  }
  .home img {
    height: auto;
    object-fit: cover;
  }

  .home .right {
    bottom: 250px;
    right: 100px;
    max-width: 600px;
    padding: 10px;
  }

  .home .right h2 {
    font-size: 24px;
  }

  .home .right p {
    font-size: 16px;
  }
  .home .right button {
    height: 40px;
    width: 120px;
    font-size: 14px;
    margin-left: 120px;
  }

  .slider .slick-prev:before,
  .slider .slick-next:before {
    top: 150px;
    font-size: 28px;
  }
}
@media (min-width: 991px) and (max-width: 1024px) {
  .home {
    margin-top: 150px;
  }
  .home img {
    height: auto;
    object-fit: cover;
  }
}
/* collection part */

@media (max-width: 1024px) {
  .collection .col-lg-3 img {
    height: 40vh;
    object-fit: cover;
  }
}

@media (max-width: 600px) {
  .collection .col-lg-3 img {
    height: 50vh;
    object-fit: cover;
  }
  .sliderr .slick-prev {
    margin-left: 15px;
  }
  .sliderr .slick-prev:before,
  .sliderr .slick-next:before {
    color: #0d724b;
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .collection .col-lg-3 img {
    height: 40vh;
    object-fit: cover;
  }
  .sliderr .slick-prev {
    margin-left: 15px;
  }
  .sliderr .slick-prev:before,
  .sliderr .slick-next:before {
    color: #0d724b;
    font-size: 20px;
  }
}

/* seller part */

@media (max-width: 1024px) {
  .seller h2 {
    font-size: 35px;
  }

  .seller .container > button {
    margin-bottom: 50px;
    font-size: 18px;
    width: 130px;
    height: 40px;
  }

  .seller .col-lg-3 img {
    height: 30vh;
  }

  .seller .col-lg-3 p {
    font-size: 18px;
    width: 25vw;
  }

  .seller .col-lg-3 h2 {
    font-size: 16px;
  }

  .seller .col-lg-3 h2 span {
    font-size: 13px;
  }

  .seller .col-lg-3 button:last-of-type {
    font-size: 16px;
    width: 150px;
    padding: 8px;
  }

  .seller .elements {
    flex-wrap: wrap;
  }

  .seller .col-lg-3 {
    width: 48%;
    padding: 10px;
  }

  .seller .col-lg-3 img {
    height: 35vh;
  }
}

@media (max-width: 768px) {
  .seller h2 {
    font-size: 30px;
  }

  .seller .container > button {
    margin-bottom: 30px;
    font-size: 19px;
    width: 134px;
    height: 51px;
  }

  .seller .col-lg-3 img {
    height: 55vh;
  }

  .seller .col-lg-3 p {
    font-size: 16px;
    width: 30vw;
    margin-left: 150px;
  }

  .seller .col-lg-3 h2 {
    font-size: 14px;
  }

  .seller .col-lg-3 h2 span {
    font-size: 12px;
  }

  .seller .col-lg-3 button:last-of-type {
    font-size: 16px;
    width: 146px;
    height: 52px;
  }

  .seller .col-lg-3 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .seller h2 {
    font-size: 25px;
  }

  .seller .container > button {
    margin-bottom: 20px;
    font-size: 17px;
    width: 120px;
    height: 48px;
  }

  .seller .col-lg-3 img {
    height: 60vh;
  }

  .seller .col-lg-3 p {
    font-size: 14px;
    width: 40vw;
    margin-left: 93px;
  }

  .seller .col-lg-3 h2 {
    font-size: 12px;
  }

  .seller .col-lg-3 h2 span {
    font-size: 10px;
  }

  .seller .col-lg-3 button:last-of-type {
    font-size: 16px;
    width: 140px;
    height: 50px;
    padding: 5px;
  }

  .seller .col-lg-3 {
    width: 100%;
  }
}

/* arrivals part */

@media (max-width: 1024px) {
  .arrivals .col-lg-3 {
    margin-right: 10px;
    padding: 20px;
  }
  .arrivals .col-lg-3 img {
    height: auto;
  }
  .arrivals .col-lg-3 p {
    font-size: 18px;
    width: auto;
    margin-left: 0;
  }
  .arrivals .col-lg-3 i {
    padding: 4px;
  }
  .arrivals .col-lg-3 button:first-of-type {
    height: 5vh;
    width: 105px;
    font-size: 15px;
  }

  .arrivals .col-lg-3 button:last-of-type {
    height: 6vh;
    width: auto;
    font-size: 15px;
  }
  .elem .slick-prev {
    margin-left: 20px;
  }

  .elem .slick-prev:before,
  .elem .slick-next:before {
    font-size: 30px;
    margin-left: -16px;
  }
}

@media (max-width: 600px) {
  .arrivals .col-lg-3 {
    padding: 15px;
    margin-right: 15px;
  }

  .arrivals .col-lg-3 img {
    height: auto;
  }

  .arrivals .col-lg-3 p {
    font-size: 18px;
    width: auto;
    margin-left: 0;
  }
  .arrivals .col-lg-3 i {
    padding: 4px;
  }
  .arrivals .col-lg-3 button:first-of-type {
    height: 5vh;
    width: 105px;
    font-size: 15px;
  }

  .arrivals .col-lg-3 button:last-of-type {
    height: 6vh;
    width: auto;
    font-size: 15px;
  }
  .elem .slick-prev {
    margin-left: 20px;
  }

  .elem .slick-prev:before,
  .elem .slick-next:before {
    font-size: 30px;
    margin-left: -16px;
  }
}

@media (max-width: 480px) {
  .arrivals .col-lg-3 {
    padding: 10px;
    margin-right: 10px;
  }

  .arrivals .col-lg-3 img {
    height: 55vh;
    object-fit: cover;
  }

  .arrivals .col-lg-3 p {
    font-size: 16px;
    width: auto;
    margin-left: 0;
  }

  .arrivals .col-lg-3 h2 {
    font-size: 16px;
  }

  .arrivals .col-lg-3 button:last-of-type {
    font-size: 16px;
    width: 140px;
    height: 50px;
    padding: 5px;
  }
  .elem .slick-prev {
    margin-left: 30px;
  }

  .elem .slick-prev:before,
  .elem .slick-next:before {
    font-size: 20px;
    margin-left: -16px;
  }
}

/* mission part */

@media (min-width: 320px) and (max-width: 480px) {
  .mission {
    margin-bottom: 50px;
  }
  .mission img {
    margin-left: 0;
    margin-top: 20px;
    height: 55vh;
    width: 91vw;
  }
}

@media (min-width: 481px) and (max-width: 575px) {
  .mission {
    margin-bottom: 40px;
  }
  .mission img {
    margin-left: 0;
    margin-top: 20px;
    height: 41vh;
    width: 82vw;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .mission {
    margin-bottom: 40px;
  }
  .mission img {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mission {
    margin-bottom: 40px;
  }
  .mission img {
    margin-left: 80px;
    margin-top: 20px;
  }
}
@media (min-width: 991px) and (max-width: 1024px) {
  .mission {
    height: auto;
  }
  .mission img {
    margin-left: 20px;
    margin-top: 20px;
  }
}

/* advisor part */

@media (min-width: 320px) and (max-width: 480px) {
  .advisor .col-lg-3 h5 {
    margin-left: 79px;
    width: 33vw;
  }
  .advise .slick-prev {
    margin-left: 50px;
  }
  .advise .slick-prev:before,
  .advise .slick-next:before {
    font-size: 20px;
    margin-left: -40px;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .advisor .col-lg-3 img {
    height: 30vh;
  }
  .advisor .col-lg-3 h5 {
    width: 200px;
  }
  .advise .slick-prev {
    margin-left: 30px;
  }
  .advise .slick-prev:before,
  .advise .slick-next:before {
    font-size: 30px;
    margin-left: -30px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .advisor .col-lg-3 {
    width: 80%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .advisor .col-lg-3 h5 {
    width: 100%;
    margin-left: 0;
  }
  .advisor .col-lg-3 img {
    height: 35vh;
  }
  .advisor .col-lg-3 h5 {
    margin-left: 0;
  }
}

/* testimonials part */

@media (min-width: 320px) and (max-width: 480px) {
  .testimonials .col-lg-3 h5 {
    margin-left: 79px;
    width: 33vw;
  }
  .test .slick-prev {
    margin-left: 50px;
  }

  .test .slick-prev:before,
  .test .slick-next:before {
    font-size: 20px;
    margin-left: -40px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .testimonials .col-lg-3 img {
    height: 30vh;
  }
  .testimonials .col-lg-3 h5 {
    margin-left: -50px;
    width: 33vw;
  }
  .test .slick-prev {
    margin-left: 50px;
  }

  .test .slick-prev:before,
  .test .slick-next:before {
    font-size: 30px;
    margin-left: -50px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .testimonials .col-lg-3 img {
    height: 30vh;
  }
}
/* insta part */

@media (max-width: 1200px) {
  .insta .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 992px) {
  .insta .col-lg-3 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

@media (max-width: 768px) {
  .insta .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .insta .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* client part */

@media (max-width: 1024px) {
  .clients .col-lg-3 img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    margin-left: 7px;
  }
}

@media (max-width: 600px) {
  .clients .col-lg-3 img {
    object-fit: cover;
  }
  .c-slider .slick-prev:before,
  .c-slider .slick-next:before {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .clients .col-lg-3 img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    margin-left: 25%;
  }
  .c-slider .slick-prev {
    margin-left: 25px;
  }
  .c-slider .slick-next {
    right: 8px;
  }
  .c-slider .slick-prev:before,
  .c-slider .slick-next:before {
    font-size: 25px;
  }
}

/* icons part */

@media (max-width: 480px) {
  .icons .icon-item {
    flex-direction: column;
  }
  .icons .icon-item img {
    width: 48vw;
    height: auto;
    object-fit: cover;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .icons .icon-item img {
    width: 30vw;
    height: auto;
    object-fit: cover;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .icons .icon-item img {
    width: 20vw;
    height: auto;
    object-fit: cover;
  }
}
@media (min-width: 991px) and (max-width: 1024px) {
  .icons .icon-item img {
    width: 20vw;
    height: auto;
    object-fit: cover;
  }
}
/* footer part */
@media (max-width: 1024px) {
  .footer .container {
    flex-direction: column;
  }

  .footer .shop,
  .footer .row {
    width: 100%;
    margin-top: 20px;
  }

  .footer .first .col-lg-3 {
    margin-left: 0;
    margin-top: 20px;
  }

  .footer .news .fa-telegram {
    display: none;
  }

  .footer .last {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media (max-width: 992px) {
  .footer .container {
    flex-direction: column;
  }

  .footer .shop,
  .footer .row {
    width: 100%;
    margin-top: 20px;
  }

  .footer .first .col-lg-3 {
    margin-left: 0;
    margin-top: 20px;
  }

  .footer .news .fa-telegram {
    display: none;
  }

  .footer .last {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
  }

  .footer .shop,
  .footer .row {
    width: 100%;
    margin-top: 20px;
  }

  .footer .row {
    width: 100%;
    margin-top: 20px;
  }

  .footer .first .col-lg-3 {
    margin-left: 0;
    margin-top: 20px;
  }

  .footer .news .fa-telegram {
    display: none;
  }
  .footer .last {
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 576px) {
  .footer .shop {
    height: auto;
    width: 100%;
    padding: 20px;
  }

  .footer .row {
    flex-direction: column;
    padding: 0;
  }

  .footer .first {
    flex-direction: column;
  }

  .footer .first .col-lg-3 {
    margin: 0 0 20px 0;
  }
  .footer .last {
    width: 100%;
    text-align: left;
  }
  .footer .below {
    flex-direction: column;
    padding: 10px;
  }
  .footer .news .fa-telegram {
    display: none;
  }
  .footer .below h6 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .footer .first h2 {
    font-size: 18px;
  }

  .footer .first h5 {
    font-size: 16px;
  }

  .footer .first input {
    width: 100%;
  }

  .footer .icon i {
    font-size: 18px;
  }
  .footer .last {
    width: 100%;
    text-align: left;
  }
  .footer .last h5 {
    font-size: 16px;
  }

  .footer .last i {
    font-size: 12px;
  }

  .footer .below {
    padding: 10px 5px;
  }
  .footer .news .fa-telegram {
    display: none;
  }
  .footer .below h6 {
    width: 100%;
  }
}
